.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  max-height: var(--bottom-bar-height);
  width: 100%;
  background-color: var(--secondary-color);
  padding: 0 1rem;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // gap: 0.5rem;

    height: 100%;
    width: 100%;
    list-style-type: none;

    &:nth-child(2) {
      justify-content: flex-end;
    }

    &__item {
      --fill-and-color: hsla(0, 0%, 50%, 0.75);
      color: var(--fill-and-color);

      height: 100%;

      &--svg {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        position: relative;
        isolation: isolate;

        fill: var(--fill-and-color);
        width: 100%;
        max-width: 2rem;

        cursor: pointer;

        svg {
          height: auto;
          width: 75%;

          transition: fill 0.4s ease;
        }

        &::after {
          content: '';

          position: absolute;
          inset: 0;
          z-index: -1;

          background-color: hsla(0, 0%, 50%, 0.25);
          opacity: 0;

          transition: opacity 0.4s ease;
        }

        &:hover,
        &:focus {
          &::after {
            opacity: 1;
            transition: none;
          }
          svg {
            fill: hsl(0, 0%, 50%);
          }
        }
      }

      &::after {
        color: var(--primary-color);
        font-size: 120%;
      }

      &--in-sync::after {
        content: ' ✓';
      }
      &--syncing::after {
        content: ' ↻';
        animation: loop 1s infinite;
      }
    }
  }
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
