/* @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --surface-color: #222831;
  --primary-color: #ffd369;
  --secondary-color: #393e46;
  --ff-color: #eeeeee;
}

*:not(.marked-block *) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', system-ui, sans-serif;

  color: var(--ff-color);
  background-color: var(--surface-color);
}

.w-tc-editor code[class*='language-'] .token.punctuation,
.w-tc-editor pre[class*='language-'] .token.punctuation {
  color: var(--primary-color) !important;
  font-weight: 800 !important;
}
.w-tc-editor code[class*='language-'] .token.bold,
.w-tc-editor pre[class*='language-'] .token.bold,
.w-tc-editor code[class*='language-'] .token.important,
.w-tc-editor pre[class*='language-'] .token.important {
  color: var(--primary-color) !important;
  font-weight: 800;
}
.w-tc-editor code[class*='language-'] .token.url,
.w-tc-editor pre[class*='language-'] .token.url {
  color: var(--primary-color) !important;
  font-weight: 800;
}
.w-tc-editor code[class*='language-'] .token.content {
  color: var(--ff-color) !important;
  font-weight: 400;
}
.w-tc-editor {
  min-height: calc(100vh - var(--bottom-bar-height)) !important;
}

.code-block {
  color: #fafafa !important;
}

.marked-block {
  padding: 15px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.marked-block a {
  color: rgba(200, 200, 200, 0.75);
  transition: color 0.4s ease;
}
.marked-block a:hover,
.marked-block a:focus {
  color: rgba(225, 225, 225, 1);
  transition: none;
}
.marked-block a::before {
  content: '↗ ';
  font-size: 130%;
}
