@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('./reset.css');

:root {
  --surface-color: #222831;
  --primary-color: #ffd369;
  --secondary-color: #393e46;
  --ff-color: #eeeeee;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', system-ui, sans-serif;
}
