/* @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --surface-color: #222831;
  --primary-color: #ffd369;
  --secondary-color: #393e46;
  --ff-color: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', system-ui, sans-serif;

  color: var(--ff-color);
  background-color: var(--surface-color);
}

.w-tc-editor code[class*='language-'] .token.punctuation,
.w-tc-editor pre[class*='language-'] .token.punctuation {
  color: var(--primary-color) !important;
  font-weight: 800 !important;
}
.w-tc-editor code[class*='language-'] .token.bold,
.w-tc-editor pre[class*='language-'] .token.bold,
.w-tc-editor code[class*='language-'] .token.important,
.w-tc-editor pre[class*='language-'] .token.important {
  color: var(--primary-color) !important;
  font-weight: 800;
}

.code-block {
  color: #fafafa !important;
}
