.main {
  width: 100%;
  background-color: hsla(0, 0%, 50%, 0.25);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 0rem 0.75rem;
    height: 3rem;
    background-color: hsla(0, 0%, 10%, 0.25);

    &__input {
      width: 100%;

      padding: 0.25rem;
      border: none;
      border-radius: 0.25rem;
      outline: none;
      color: var(--ff-color);
      background-color: hsla(0, 0%, 95%, 0.125);

      font: inherit;
      font-size: 1rem;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    list-style-type: none;

    &__item {
      width: 100%;
      padding: 0.5rem;
      padding-right: 2.75rem;

      position: relative;

      cursor: pointer;
      transition: background-color 0.4s ease;

      &--selected {
        color: var(--primary-color);
        background-color: hsla(0, 0%, 95%, 0.125);
      }
      &:hover,
      &:focus {
        background-color: hsla(0, 0%, 95%, 0.125);
        transition: none;
      }

      &__heading {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }

      &__delete {
        position: absolute;

        top: 50%;
        right: 0.5rem;
        transform: translate(0, -50%);

        height: 50%;
        width: auto;
        outline: 2px solid transparent;
        outline-offset: -2px;
        background-color: transparent;

        fill: rgba($color: white, $alpha: 0.5);

        transition: fill 0.4s ease, outline-offset 0.4s ease,
          outline-color 0.4s ease;

        &:hover,
        &:focus {
          fill: #ed5e68;
          outline-color: #ed5e68;
          outline-offset: 0px;
          transition: none;
        }
      }
    }
  }
}
